.env
.venv/
__pycache__/
*.pyc
static_backup_V3/
*_before_*.py
static/*_before_*.js
static/*_before_*.html

static/app_before_final_size_ru_fix.js
app_before_uzru_autocode.py
app_broken_before_final_fix.py
static/admin_before_uzru_autocode.html
static/admin_before_uzru_autocode.js
static/app_before_uzru_autocode.js
